POSTGRES_DB=session_pipeline_defense
POSTGRES_USER=session_user
POSTGRES_PASSWORD=session_pass
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://localhost:5432/session_pipeline_defense
DB_USERNAME=session_user
DB_PASSWORD=session_pass
SERVER_PORT=8080
